/*estilos para el cuerpo de la pagina*/
body {
    background: #ffffff;
}
div.iconos {
    position: relative;
    background: #1f0e43;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
h1 {
    position: relative;
    color: #ffffff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    position: relative;
    color: #ffffff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}
 i.fa-solid.fa-house {
    color: #ffffff;
    font-size: 24px;
    margin-right: 10px;
 }
    i.fa-solid.fa-user {
        color: #ffffff;
        font-size: 24px;
        margin-right: 10px;
        position: absolute;
        top: 30px;
        right: 35px;
    }
    i.fa-solid.fa-address-book {
        color: #ffffff;
        font-size: 24px;
        margin-right: 10px;
    }
/*este es para las cajas de divs*/
    h2 {
        color: #ffffff;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    div.one,
    div.two,
    div.three {
        display: inline-block;
        justify-content: center;
        width: 30%;
        min-width: 140px;
        min-height: 200px;
        box-sizing: border-box;
        padding: 20px;
        margin: 10px;
        background: #1f0e43;
        border-radius: 10px;
        margin-left: 25px;
    }
    /*este es para el pie de pagina*/
    div.pie {
        background: #1f0e43;
        height: 200px;
        margin: 1px;
        border-radius: 0px;
    }
    i.fa-regular.fa-envelope {
    color: #ffffff;
    font-size: 24px;
    margin-right: 15px;
    position: relative;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -100%);
}
i.fa-brands.fa-instagram {
    color: #ffffff;
    font-size: 24px;
    margin-right: 15px;
    position: relative;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -100%);
}
i.fa-brands.fa-twitter {
    color: #ffffff;
    font-size: 24px;
    margin-right: 15px;
    position: relative;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -100%);
}

p {
    color: #ffffff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;        text-align: center;
}
div.piee {
    background: #1f0e43;
    height: 100px;
    margin: 1px;
    border-radius: 0px;
}
img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 350px;
    height: 200px;
    border-radius: 20px;
}
/*estilos para el inicio de sesion*/
i.fa-solid.fa-arrow-left {
    color: #ffffff;
    font-size: 24px;
    margin-right: 15px;
    align-items: left;
}
    .sesion {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);
        display: flex;
        flex-direction: column;
        width: 30%;
        min-width: 500px;
        min-height: 400px;
        box-sizing: border-box;
        padding: 20px;
        background: #1f0e43;
        border-radius: 10px;
        color: #fff;
    }
    .sesion h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    button{
        display: block;
        width: 100%;
        padding: 10px;
        background: #6528ff;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
    }
    /*estilos para el formulario de registro*/
    i.fa-brands.fa-google {
        color: #ffffff;
        font-size: 24px;
        margin-right: 15px;
        position: relative;
        top: 50%;
        left: 37%;
        transform: translate(-50%, -100%);
    }
    i.fa-brands.fa-facebook {
        color: #ffffff;
        font-size: 24px;
        margin-right: 15px;
        position: relative;
        top: 50%;
        left: 37%;
        transform: translate(-50%, -100%);
    }
    i.fa-brands.fa-x-twitter {
    color: #ffffff;
    font-size: 24px;
    margin-right: 15px;
    position: relative;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -100%);
}
